In [41]:
#import necessary libraries
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.cross_decomposition import PLSRegression
import pickle

In [54]:
# Load dataset
df = pickle.load(open("4.MS_NM_index_date_vector_df .pickle", 'rb'))
df

,index,Date,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,...,dim_291,dim_292,dim_293,dim_294,dim_295,dim_296,dim_297,dim_298,dim_299,dim_300
0,MSS1,2004-06-24,1.729217,0.245316,-0.493493,0.029268,0.330834,-0.764485,-0.530714,-0.918960,...,-0.622933,0.216431,0.466657,0.949482,-0.200474,-1.695715,-0.294176,0.174417,-0.316305,0.285695
1,MSS2,2004-06-29,1.803955,1.230895,-0.885640,-0.663181,-2.109583,-0.297170,-0.807866,-0.755965,...,0.514852,-0.935095,0.911103,0.573316,0.113726,0.023391,0.583217,-0.030564,0.457275,-0.488943
2,MSS3,2004-07-03,0.574240,-0.458767,0.180953,-1.052859,-0.301949,-0.603319,-1.509269,-0.870443,...,-1.347703,-0.434989,-0.523450,-0.291855,-0.109767,-1.309015,-0.264903,0.005824,-0.194770,-0.770215
3,MSS4,2004-07-26,0.664584,-0.236720,-0.937665,1.754107,0.647106,1.376578,-0.491415,0.226166,...,-0.242976,0.149754,0.343483,-0.014610,0.316516,-0.651860,1.285176,-0.571308,0.497994,-0.154224
4,MSS5,2004-07-31,1.173817,0.419200,0.460959,0.768683,-1.166203,-1.001240,-0.191754,-0.424820,...,0.307194,1.019033,0.091227,0.459494,0.488245,-1.041828,0.107056,0.148993,-0.523627,0.504566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528,NMS1178,2023-04-09,0.063168,0.098319,0.253139,-0.488186,0.737574,0.541163,-1.570866,0.079295,...,2.005187,-2.112913,0.440736,0.454736,0.384735,0.517010,-0.670551,-1.266957,1.051938,1.919566
2529,NMS1179,2023-04-12,0.454408,-0.138560,-0.331123,-0.163651,0.785148,-0.507341,-0.685291,1.182693,...,0.313126,-0.151662,-0.036966,-0.610826,-2.254540,-0.605663,0.495140,0.387016,-0.085275,0.849042
2530,NMS1180,2023-04-12,0.604914,0.645650,-1.623845,-1.116028,-0.501931,-0.593036,0.373793,-0.182061,...,1.739309,0.005688,0.287379,1.136948,-0.072742,-0.840421,-1.464063,-1.112515,3.272193,-3.896594
2531,NMS1181,2023-04-14,0.565542,1.349277,-1.679448,-0.430178,0.034780,-0.638081,-2.262594,-0.220345,...,0.418089,1.412563,-1.310003,-0.734481,0.181640,-0.124939,-0.247587,0.132718,1.044298,-1.157660
2532,NMS1182,2023-04-15,0.012544,0.823903,-1.950000,0.367477,-0.173779,-2.267922,-1.025347,-1.511740,...,0.551924,-0.614551,-1.176612,-1.521704,1.875636,2.816921,-1.505067,1.541065,0.173042,1.268299

In [55]:
columns_to_drop = ['index', 'Date']

In [57]:
df_vector=df.drop(columns_to_drop, axis=1)
df_vector

,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,dim_9,dim_10,...,dim_291,dim_292,dim_293,dim_294,dim_295,dim_296,dim_297,dim_298,dim_299,dim_300
0,1.729217,0.245316,-0.493493,0.029268,0.330834,-0.764485,-0.530714,-0.918960,0.605372,1.213468,...,-0.622933,0.216431,0.466657,0.949482,-0.200474,-1.695715,-0.294176,0.174417,-0.316305,0.285695
1,1.803955,1.230895,-0.885640,-0.663181,-2.109583,-0.297170,-0.807866,-0.755965,-0.838983,3.226501,...,0.514852,-0.935095,0.911103,0.573316,0.113726,0.023391,0.583217,-0.030564,0.457275,-0.488943
2,0.574240,-0.458767,0.180953,-1.052859,-0.301949,-0.603319,-1.509269,-0.870443,0.345276,0.524611,...,-1.347703,-0.434989,-0.523450,-0.291855,-0.109767,-1.309015,-0.264903,0.005824,-0.194770,-0.770215
3,0.664584,-0.236720,-0.937665,1.754107,0.647106,1.376578,-0.491415,0.226166,-0.872299,0.856417,...,-0.242976,0.149754,0.343483,-0.014610,0.316516,-0.651860,1.285176,-0.571308,0.497994,-0.154224
4,1.173817,0.419200,0.460959,0.768683,-1.166203,-1.001240,-0.191754,-0.424820,-0.206357,1.059748,...,0.307194,1.019033,0.091227,0.459494,0.488245,-1.041828,0.107056,0.148993,-0.523627,0.504566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528,0.063168,0.098319,0.253139,-0.488186,0.737574,0.541163,-1.570866,0.079295,-0.293344,-1.538060,...,2.005187,-2.112913,0.440736,0.454736,0.384735,0.517010,-0.670551,-1.266957,1.051938,1.919566
2529,0.454408,-0.138560,-0.331123,-0.163651,0.785148,-0.507341,-0.685291,1.182693,0.636671,-1.054161,...,0.313126,-0.151662,-0.036966,-0.610826,-2.254540,-0.605663,0.495140,0.387016,-0.085275,0.849042
2530,0.604914,0.645650,-1.623845,-1.116028,-0.501931,-0.593036,0.373793,-0.182061,-0.112844,-0.887427,...,1.739309,0.005688,0.287379,1.136948,-0.072742,-0.840421,-1.464063,-1.112515,3.272193,-3.896594
2531,0.565542,1.349277,-1.679448,-0.430178,0.034780,-0.638081,-2.262594,-0.220345,-0.099406,0.688833,...,0.418089,1.412563,-1.310003,-0.734481,0.181640,-0.124939,-0.247587,0.132718,1.044298,-1.157660
2532,0.012544,0.823903,-1.950000,0.367477,-0.173779,-2.267922,-1.025347,-1.511740,0.920280,-0.507514,...,0.551924,-0.614551,-1.176612,-1.521704,1.875636,2.816921,-1.505067,1.541065,0.173042,1.268299

In [58]:
MS_NM_vector_df = open("MS_NM_vector_df.pickle", "wb")
pickle.dump(df_vector, MS_NM_vector_df )
MS_NM_vector_df.close()

In [ ]:
#PCA on this and get variance explained,
# umap estimated

In [7]:
#loading the dataframe
df_umap = pd.read_csv("D:\Python project\CP\MS_NM_Meta\df_umap.csv")
df_umap

        index         x          y          z  Date  cluster          Person
0        MSS1  2.898594   9.928911   7.609050  2004        3  Manmohan Singh
1        MSS2  1.586409   7.393669   8.650178  2004        1  Manmohan Singh
2        MSS3  1.872317   7.604838  10.589667  2004        1  Manmohan Singh
3        MSS4  2.857250   8.581143  10.284215  2004        4  Manmohan Singh
4        MSS5  2.992122  10.393358   7.404863  2004        3  Manmohan Singh
...       ...       ...        ...        ...   ...      ...             ...
2528  NMS1178  2.797319   9.819474   9.748168  2023        0   Narendra Modi
2529  NMS1179  3.103824   9.280266  10.570699  2023        4   Narendra Modi
2530  NMS1180  2.909471   9.555931   9.597327  2023        4   Narendra Modi
2531  NMS1181  2.989243   9.807272  10.071255  2023        3   Narendra Modi
2532  NMS1182  2.860325   9.838757  10.185248  2023        3   Narendra Modi

[2533 rows x 7 columns]

TO CHECK THE VARIATION IN SPEECHES EXPLAINED BY EACH CLUSTER

In [10]:
UMAP_matrix = df_umap[['x','y','z']]
UMAP_matrix

             x          y          z
0     2.898594   9.928911   7.609050
1     1.586409   7.393669   8.650178
2     1.872317   7.604838  10.589667
3     2.857250   8.581143  10.284215
4     2.992122  10.393358   7.404863
...        ...        ...        ...
2528  2.797319   9.819474   9.748168
2529  3.103824   9.280266  10.570699
2530  2.909471   9.555931   9.597327
2531  2.989243   9.807272  10.071255
2532  2.860325   9.838757  10.185248

[2533 rows x 3 columns]

In [ ]:
#defining the model of Partial Least Squares
pls = PLSRegression(n_components = 1)

In [ ]:
pls.fit(UMAP_matrix, X)
y_pred = pls.predict(UMAP_matrix)
print(r2_score(X, y_pred, multioutput = 'variance_weighted'))

In [11]:
df_umap

        index         x          y          z  Date  cluster          Person
0        MSS1  2.898594   9.928911   7.609050  2004        3  Manmohan Singh
1        MSS2  1.586409   7.393669   8.650178  2004        1  Manmohan Singh
2        MSS3  1.872317   7.604838  10.589667  2004        1  Manmohan Singh
3        MSS4  2.857250   8.581143  10.284215  2004        4  Manmohan Singh
4        MSS5  2.992122  10.393358   7.404863  2004        3  Manmohan Singh
...       ...       ...        ...        ...   ...      ...             ...
2528  NMS1178  2.797319   9.819474   9.748168  2023        0   Narendra Modi
2529  NMS1179  3.103824   9.280266  10.570699  2023        4   Narendra Modi
2530  NMS1180  2.909471   9.555931   9.597327  2023        4   Narendra Modi
2531  NMS1181  2.989243   9.807272  10.071255  2023        3   Narendra Modi
2532  NMS1182  2.860325   9.838757  10.185248  2023        3   Narendra Modi

[2533 rows x 7 columns]

In [17]:
df_cluster= df_umap[['x','y','z','cluster']]

In [19]:
# Group the data by cluster
cluster =df_cluster.groupby('cluster')
cluster_means = cluster.mean()
print("Cluster Means:")
print(cluster_means)

Cluster Means:
                x         y         z
cluster
0        2.077547  9.741822  9.049467
1        1.839656  7.538860  9.500932
2        1.794201  8.727962  9.154440
3        3.548724  9.958176  8.281031
4        2.916596  8.899159  9.082470

In [20]:
# Calculate the variance of each feature within each cluster
cluster_variances = cluster.var()
print("\nCluster Variances:")
print(cluster_variances)

Cluster Variances:
                x         y         z
cluster
0        0.143317  0.099652  0.715633
1        0.299612  0.123891  0.447486
2        0.183583  0.094627  0.830771
3        0.115816  0.144956  0.650685
4        0.104245  0.141601  0.787325

ENTROPY

 Entropy measures the level of uncertainty or randomness in a given probability distribution. When applied to cluster analysis, it can provide insights into the diversity or spread of values within each cluster.

In [30]:
#CLUSTER WISE

In [21]:
from scipy.stats import entropy

In [25]:
cluster.size()

cluster
0    457
1    500
2    487
3    448
4    641
dtype: int64

In [26]:
len(df_cluster)

2533

In [28]:
#here we have created a probability distribution of each cluster
cluster_distribution

cluster
0    0.180418
1    0.197394
2    0.192262
3    0.176865
4    0.253060
dtype: float64

FORMULA FOR SHANNON ENTROPY:

H = -sum(pk * log(pk))

In [29]:
# Calculate the entropy of the overall cluster distribution
cluster_distribution = cluster.size()/ len(df_cluster)
cluster_entropy = entropy(cluster_distribution)
print("\nCluster Entropy:")
print(cluster_entropy)

Cluster Entropy:
1.6003976141552356

In [31]:
#PERSONALITY AND CLUSTER

In [52]:
df_cluster_personality= df_umap[['x','y','z','cluster',"Person"]]

In [35]:
MS_data = df_umap[df_umap['Person'] == 'Manmohan Singh'].groupby('cluster')

In [36]:
cluster_means = MS_data.mean()

TypeError: Could not convert MSS16MSS33MSS43MSS46MSS49MSS61MSS67MSS73MSS74MSS93MSS97MSS100MSS114MSS116MSS127MSS133MSS135MSS136MSS137MSS143MSS145MSS155MSS157MSS158MSS159MSS172MSS173MSS190MSS202MSS209MSS210MSS211MSS216MSS217MSS222MSS225MSS227MSS238MSS245MSS246MSS253MSS255MSS256MSS259MSS270MSS271MSS272MSS279MSS282MSS287MSS293MSS294MSS296MSS299MSS303MSS318MSS325MSS327MSS328MSS331MSS336MSS338MSS339MSS340MSS345MSS353MSS358MSS361MSS362MSS368MSS371MSS377MSS381MSS382MSS383MSS385MSS386MSS387MSS388MSS390MSS391MSS393MSS394MSS395MSS397MSS400MSS406MSS410MSS411MSS423MSS424MSS425MSS426MSS428MSS429MSS432MSS433MSS436MSS439MSS442MSS450MSS466MSS470MSS471MSS474MSS475MSS480MSS482MSS484MSS485MSS486MSS492MSS493MSS497MSS499MSS501MSS502MSS503MSS506MSS507MSS515MSS517MSS518MSS523MSS526MSS530MSS532MSS538MSS544MSS545MSS547MSS549MSS550MSS551MSS554MSS555MSS561MSS562MSS563MSS565MSS567MSS568MSS570MSS571MSS572MSS573MSS580MSS581MSS582MSS583MSS584MSS588MSS597MSS599MSS602MSS605MSS608MSS610MSS611MSS617MSS619MSS621MSS627MSS628MSS631MSS634MSS636MSS637MSS643MSS645MSS649MSS652MSS656MSS659MSS663MSS669MSS671MSS673MSS677MSS678MSS680MSS681MSS682MSS684MSS685MSS687MSS689MSS690MSS697MSS698MSS702MSS703MSS704MSS706MSS709MSS710MSS711MSS721MSS722MSS735MSS739MSS740MSS744MSS747MSS752MSS753MSS755MSS762MSS776MSS777MSS778MSS779MSS780MSS782MSS783MSS787MSS795MSS800MSS801MSS805MSS810MSS811MSS813MSS814MSS827MSS828MSS829MSS831MSS838MSS839MSS850MSS851MSS852MSS853MSS855MSS857MSS864MSS867MSS868MSS879MSS882MSS884MSS885MSS887MSS890MSS891MSS892MSS896MSS899MSS901MSS902MSS903MSS904MSS908MSS911MSS916MSS917MSS918MSS926MSS927MSS937MSS939MSS941MSS948MSS949MSS952MSS956MSS957MSS958MSS973MSS974MSS975MSS976MSS978MSS984MSS986MSS988MSS989MSS990MSS991MSS995MSS996MSS1002MSS1004MSS1016MSS1028MSS1030MSS1032MSS1035MSS1040MSS1043MSS1052MSS1058MSS1063MSS1067MSS1074MSS1075MSS1087MSS1090MSS1091MSS1092MSS1093MSS1095MSS1102MSS1107MSS1111MSS1114MSS1130MSS1138MSS1141MSS1144MSS1159MSS1161MSS1163MSS1175MSS1178MSS1198MSS1199MSS1213MSS1226MSS1243MSS1245MSS1260MSS1275MSS1284MSS1295MSS1296MSS1310MSS1325MSS1339MSS1358MSS1363MSS1367MSS1369MSS1370MSS1371MSS1375MSS1377MSS1390 to numeric