In [85]:
#import necessary libraries
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.cross_decomposition import PLSRegression
import pickle

In [86]:
#loading the dataframe
df_umap = pd.read_csv("D:\Python project\CP\MS_NM_Meta\df_umap.csv")
df_umap

        index         x          y          z  Date  cluster          Person
0        MSS1  2.898594   9.928911   7.609050  2004        3  Manmohan Singh
1        MSS2  1.586409   7.393669   8.650178  2004        1  Manmohan Singh
2        MSS3  1.872317   7.604838  10.589667  2004        1  Manmohan Singh
3        MSS4  2.857250   8.581143  10.284215  2004        4  Manmohan Singh
4        MSS5  2.992122  10.393358   7.404863  2004        3  Manmohan Singh
...       ...       ...        ...        ...   ...      ...             ...
2528  NMS1178  2.797319   9.819474   9.748168  2023        0   Narendra Modi
2529  NMS1179  3.103824   9.280266  10.570699  2023        4   Narendra Modi
2530  NMS1180  2.909471   9.555931   9.597327  2023        4   Narendra Modi
2531  NMS1181  2.989243   9.807272  10.071255  2023        3   Narendra Modi
2532  NMS1182  2.860325   9.838757  10.185248  2023        3   Narendra Modi

[2533 rows x 7 columns]

In [92]:
df_umap2d = pd.DataFrame(pickle.load(open("df_umap_2D.pickle", 'rb')))
df_umap2d

             x         y
0     0.965321  9.223312
1     4.396095  7.197425
2     4.704985  7.830008
3     3.932616  7.069750
4     0.138507  9.010196
...        ...       ...
2528  2.052044  8.872194
2529  2.768818  9.272061
2530  2.482742  7.692467
2531  1.993481  8.093008
2532  1.946006  8.190008

[2533 rows x 2 columns]

In [100]:
df= pd.concat([df_umap2d,df_umap["cluster"],df_umap["Person"]], axis=1)
df

             x         y  cluster          Person
0     0.965321  9.223312        3  Manmohan Singh
1     4.396095  7.197425        1  Manmohan Singh
2     4.704985  7.830008        1  Manmohan Singh
3     3.932616  7.069750        4  Manmohan Singh
4     0.138507  9.010196        3  Manmohan Singh
...        ...       ...      ...             ...
2528  2.052044  8.872194        0   Narendra Modi
2529  2.768818  9.272061        4   Narendra Modi
2530  2.482742  7.692467        4   Narendra Modi
2531  1.993481  8.093008        3   Narendra Modi
2532  1.946006  8.190008        3   Narendra Modi

[2533 rows x 4 columns]

TO CHECK THE VARIATION IN SPEECHES EXPLAINED BY EACH CLUSTER

In [ ]:
#defining the model of Partial Least Squares
pls = PLSRegression(n_components = 1)

In [ ]:
pls.fit(UMAP_matrix, X)
y_pred = pls.predict(UMAP_matrix)
print(r2_score(X, y_pred, multioutput = 'variance_weighted'))

In [17]:
df_cluster= df_umap[['x','y','z','cluster']]

In [19]:
# Group the data by cluster
cluster =df_cluster.groupby('cluster')
cluster_means = cluster.mean()
print("Cluster Means:")
print(cluster_means)

Cluster Means:
                x         y         z
cluster
0        2.077547  9.741822  9.049467
1        1.839656  7.538860  9.500932
2        1.794201  8.727962  9.154440
3        3.548724  9.958176  8.281031
4        2.916596  8.899159  9.082470

In [20]:
# Calculate the variance of each feature within each cluster
cluster_variances = cluster.var()
print("\nCluster Variances:")
print(cluster_variances)

Cluster Variances:
                x         y         z
cluster
0        0.143317  0.099652  0.715633
1        0.299612  0.123891  0.447486
2        0.183583  0.094627  0.830771
3        0.115816  0.144956  0.650685
4        0.104245  0.141601  0.787325

ENTROPY

 Entropy measures the level of uncertainty or randomness in a given probability distribution. When applied to cluster analysis, it can provide insights into the diversity or spread of values within each cluster.

In [21]:
from scipy.stats import entropy

In [25]:
cluster.size()

cluster
0    457
1    500
2    487
3    448
4    641
dtype: int64

In [26]:
len(df_cluster)

2533

In [28]:
#here we have created a probability distribution of each cluster
cluster_distribution

cluster
0    0.180418
1    0.197394
2    0.192262
3    0.176865
4    0.253060
dtype: float64

FORMULA FOR SHANNON ENTROPY:

H = -sum(pk * log(pk))

In [29]:
# Calculate the entropy of the overall cluster distribution
cluster_distribution = cluster.size()/ len(df_cluster)
cluster_entropy = entropy(cluster_distribution)
print("\nCluster Entropy:")
print(cluster_entropy)

Cluster Entropy:
1.6003976141552356

2D ENTROPY PERSONALITY WISE

In [107]:
df

             x         y  cluster          Person
0     0.965321  9.223312        3  Manmohan Singh
1     4.396095  7.197425        1  Manmohan Singh
2     4.704985  7.830008        1  Manmohan Singh
3     3.932616  7.069750        4  Manmohan Singh
4     0.138507  9.010196        3  Manmohan Singh
...        ...       ...      ...             ...
2528  2.052044  8.872194        0   Narendra Modi
2529  2.768818  9.272061        4   Narendra Modi
2530  2.482742  7.692467        4   Narendra Modi
2531  1.993481  8.093008        3   Narendra Modi
2532  1.946006  8.190008        3   Narendra Modi

[2533 rows x 4 columns]

In [101]:
MS_data = df[df['Person'] == 'Manmohan Singh']

             x         y  cluster          Person
0     0.965321  9.223312        3  Manmohan Singh
1     4.396095  7.197425        1  Manmohan Singh
2     4.704985  7.830008        1  Manmohan Singh
3     3.932616  7.069750        4  Manmohan Singh
4     0.138507  9.010196        3  Manmohan Singh
...        ...       ...      ...             ...
1346  4.689646  8.479588        1  Manmohan Singh
1347  2.751070  8.646132        2  Manmohan Singh
1348  4.441136  6.950902        1  Manmohan Singh
1349  0.691667  9.091805        3  Manmohan Singh
1350  3.809916  9.141370        2  Manmohan Singh

[1351 rows x 4 columns]

In [108]:
from sklearn.preprocessing import normalize

In [114]:
for i in MS_data["x"]:
    for j in MS_data["y"]:
        do=np.array([[i , j]])
        normalized_vector = normalize(do)

KeyboardInterrupt:

In [113]:
normalized_vector[0]

array([0.47690837, 0.87895302])

In [104]:
import pandas as pd
import numpy as np
from scipy.stats import entropy

# Convert the DataFrame columns to arrays
var1 = MS_data['x'].values
var2 = MS_data['y'].values

# Calculate the joint distribution of the variables
joint_distribution = np.histogram2d(var1, var2)[0] /2533

# Flatten the joint distribution into a 1D array
flat_distribution = joint_distribution.flatten()

# Calculate the entropy
entropy_2d = entropy(flat_distribution)

# Print the entropy
print("2D Entropy:", entropy_2d)

2D Entropy: 4.167852057184396

In [105]:
NM_data = df[df['Person'] == 'Narendra Modi']
NM_data

             x         y  cluster         Person
1351  4.230141  7.749642        2  Narendra Modi
1352  4.000644  6.891201        2  Narendra Modi
1353  4.238877  8.410786        1  Narendra Modi
1354  3.339233  7.593845        2  Narendra Modi
1355  3.319418  7.307110        2  Narendra Modi
...        ...       ...      ...            ...
2528  2.052044  8.872194        0  Narendra Modi
2529  2.768818  9.272061        4  Narendra Modi
2530  2.482742  7.692467        4  Narendra Modi
2531  1.993481  8.093008        3  Narendra Modi
2532  1.946006  8.190008        3  Narendra Modi

[1182 rows x 4 columns]

In [106]:
# Convert the DataFrame columns to arrays
var1 = NM_data['x'].values
var2 = NM_data['y'].values

# Calculate the joint distribution of the variables
joint_distribution = np.histogram2d(var1, var2)[0] /2533

# Flatten the joint distribution into a 1D array
flat_distribution = joint_distribution.flatten()

# Calculate the entropy
entropy_2d = entropy(flat_distribution)

# Print the entropy
print("2D Entropy:", entropy_2d)

2D Entropy: 3.708309279754807

In [82]:
import pandas as pd
import numpy as np
from scipy.stats import entropy

joint_distribution = NM_data.groupby(['x', 'y', 'z']).size()/2533

# Calculate the entropy
entropy_3d = entropy(joint_distribution, base=2)

# Print the entropy
print("3D Entropy:", entropy_3d)

3D Entropy: 10.207014320177532