In [6]:
#import necessary libraries
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.cross_decomposition import PLSRegression

In [7]:
#loading the dataframe
df_umap = pd.read_csv("D:\Python project\CP\MS_NM_Meta\df_umap.csv")
df_umap

        index         x          y          z  Date  cluster          Person
0        MSS1  2.898594   9.928911   7.609050  2004        3  Manmohan Singh
1        MSS2  1.586409   7.393669   8.650178  2004        1  Manmohan Singh
2        MSS3  1.872317   7.604838  10.589667  2004        1  Manmohan Singh
3        MSS4  2.857250   8.581143  10.284215  2004        4  Manmohan Singh
4        MSS5  2.992122  10.393358   7.404863  2004        3  Manmohan Singh
...       ...       ...        ...        ...   ...      ...             ...
2528  NMS1178  2.797319   9.819474   9.748168  2023        0   Narendra Modi
2529  NMS1179  3.103824   9.280266  10.570699  2023        4   Narendra Modi
2530  NMS1180  2.909471   9.555931   9.597327  2023        4   Narendra Modi
2531  NMS1181  2.989243   9.807272  10.071255  2023        3   Narendra Modi
2532  NMS1182  2.860325   9.838757  10.185248  2023        3   Narendra Modi

[2533 rows x 7 columns]

TO CHECK THE VARIATION IN SPEECHES EXPLAINED BY EACH CLUSTER

In [10]:
UMAP_matrix = df_umap[['x','y','z']]
UMAP_matrix

             x          y          z
0     2.898594   9.928911   7.609050
1     1.586409   7.393669   8.650178
2     1.872317   7.604838  10.589667
3     2.857250   8.581143  10.284215
4     2.992122  10.393358   7.404863
...        ...        ...        ...
2528  2.797319   9.819474   9.748168
2529  3.103824   9.280266  10.570699
2530  2.909471   9.555931   9.597327
2531  2.989243   9.807272  10.071255
2532  2.860325   9.838757  10.185248

[2533 rows x 3 columns]

In [ ]:
#defining the model of Partial Least Squares
pls = PLSRegression(n_components = 1)

In [ ]:
pls.fit(UMAP_matrix, X)
y_pred = pls.predict(UMAP_matrix)
print(r2_score(X, y_pred, multioutput = 'variance_weighted'))

In [11]:
df_umap

        index         x          y          z  Date  cluster          Person
0        MSS1  2.898594   9.928911   7.609050  2004        3  Manmohan Singh
1        MSS2  1.586409   7.393669   8.650178  2004        1  Manmohan Singh
2        MSS3  1.872317   7.604838  10.589667  2004        1  Manmohan Singh
3        MSS4  2.857250   8.581143  10.284215  2004        4  Manmohan Singh
4        MSS5  2.992122  10.393358   7.404863  2004        3  Manmohan Singh
...       ...       ...        ...        ...   ...      ...             ...
2528  NMS1178  2.797319   9.819474   9.748168  2023        0   Narendra Modi
2529  NMS1179  3.103824   9.280266  10.570699  2023        4   Narendra Modi
2530  NMS1180  2.909471   9.555931   9.597327  2023        4   Narendra Modi
2531  NMS1181  2.989243   9.807272  10.071255  2023        3   Narendra Modi
2532  NMS1182  2.860325   9.838757  10.185248  2023        3   Narendra Modi

[2533 rows x 7 columns]

In [17]:
df_cluster= df_umap[['x','y','z','cluster']]

In [19]:
# Group the data by cluster
cluster =df_cluster.groupby('cluster')
cluster_means = cluster.mean()
print("Cluster Means:")
print(cluster_means)

Cluster Means:
                x         y         z
cluster
0        2.077547  9.741822  9.049467
1        1.839656  7.538860  9.500932
2        1.794201  8.727962  9.154440
3        3.548724  9.958176  8.281031
4        2.916596  8.899159  9.082470

In [20]:
# Calculate the variance of each feature within each cluster
cluster_variances = cluster.var()
print("\nCluster Variances:")
print(cluster_variances)

Cluster Variances:
                x         y         z
cluster
0        0.143317  0.099652  0.715633
1        0.299612  0.123891  0.447486
2        0.183583  0.094627  0.830771
3        0.115816  0.144956  0.650685
4        0.104245  0.141601  0.787325

ENTROPY

 Entropy measures the level of uncertainty or randomness in a given probability distribution. When applied to cluster analysis, it can provide insights into the diversity or spread of values within each cluster.

In [21]:
from scipy.stats import entropy

In [25]:
cluster.size()

cluster
0    457
1    500
2    487
3    448
4    641
dtype: int64

In [26]:
len(df_cluster)

2533

In [28]:
cluster_distribution

cluster
0    0.180418
1    0.197394
2    0.192262
3    0.176865
4    0.253060
dtype: float64

In [23]:
# Calculate the entropy of the overall cluster distribution
cluster_distribution = cluster.size()() / len(df_cluster)
cluster_entropy = entropy(cluster_distribution)
print("\nCluster Entropy:")
print(cluster_entropy)

Cluster Entropy:
1.6003976141552356