In [2]:
import pandas as pd

### CLUSTER 1

In [3]:
df = pd.read_csv("E:\Tarang\Ashoka\Python\PYTHON PROJECT\output.csv")

In [4]:
len(df)

2533

In [9]:
df = df[df['cluster'] == 1]

In [10]:
df = df.drop(['Date','Cleaned_Speech','Cleaned_Speech_string','cluster', 'Unnamed: 0'], axis =1 )

In [11]:
df

,index,Title,Speech
425,MSS1032,"PM's speech to the Indian Community, Dar es Sa...",I am delighted to be here among you today in D...
426,MSS1117,PM's speech at the release of HUNGaMA (Hunger ...,\n\t“There are nearly 16 crore children in the...
427,MSS937,PM's address at the opening ceremony of 19th C...,The people of India are delighted to host the ...
428,MSS810,Extracts from Introductory Remarks by Prime Mi...,\tLet me thank you for being present for a ver...
429,MSS1114,PM's address at the World Sanskrit Conference,\n\t“Sanskrit Bharat ki aatma hai. Iss liye mu...
...,...,...,...
985,MSS49,PM's address at diamond jubilee celebrations ...,"""I am doubly delighted to be amongst you this..."
986,MSS570,PM's remarks at the Book Release Function of D...,It is really an honour for us to have Shri Dev...
987,MSS571,"PM's remarks at the Release of Book ""Mr. & Mrs...","""I am truly delighted to associate myself with..."
988,MSS318,PM's speech at the banquet hosted by Uzbek Pre...,"""I would like to express my deep appreciation ..."
989,MSS162,PM releases biography of Shri O P Jindal,"""I deem it a privilege to release this book o..."

In [11]:
pd.set_option('display.max_colwidth', 100000)
pd.set_option('display.max_rows', None)

In [13]:
# Create a boolean mask for values starting with 'NM'
mask_NM = df['index'].str.startswith('NM')

# Create a boolean mask for values starting with 'MS'
mask_MS = df['index'].str.startswith('MS')

In [19]:
count_true_NM = mask_NM.sum()
count_true_NM

181

In [18]:
count_true = mask_MS.sum()
count_true

384

In [14]:
df

,index,Title,Speech
425,MSS1032,"PM's speech to the Indian Community, Dar es Sa...",I am delighted to be here among you today in D...
426,MSS1117,PM's speech at the release of HUNGaMA (Hunger ...,\n\t“There are nearly 16 crore children in the...
427,MSS937,PM's address at the opening ceremony of 19th C...,The people of India are delighted to host the ...
428,MSS810,Extracts from Introductory Remarks by Prime Mi...,\tLet me thank you for being present for a ver...
429,MSS1114,PM's address at the World Sanskrit Conference,\n\t“Sanskrit Bharat ki aatma hai. Iss liye mu...
...,...,...,...
985,MSS49,PM's address at diamond jubilee celebrations ...,"""I am doubly delighted to be amongst you this..."
986,MSS570,PM's remarks at the Book Release Function of D...,It is really an honour for us to have Shri Dev...
987,MSS571,"PM's remarks at the Release of Book ""Mr. & Mrs...","""I am truly delighted to associate myself with..."
988,MSS318,PM's speech at the banquet hosted by Uzbek Pre...,"""I would like to express my deep appreciation ..."
989,MSS162,PM releases biography of Shri O P Jindal,"""I deem it a privilege to release this book o..."

In [20]:
pd.set_option('display.max_colwidth', 100000)
pd.set_option('display.max_rows', None)

In [22]:
# df
# Run this code to see complete speeches in cluster 1

### CLUSTER 2

In [23]:
df_s = pd.read_csv("C:/Users/HP/Downloads/output.csv")

In [25]:
df_s = df_s[df_s['cluster'] == 2]

In [26]:
df_s = df_s.drop(['Date','Cleaned_Speech','Cleaned_Speech_string','cluster', 'Unnamed: 0'], axis =1 )

In [27]:
pd.set_option('display.max_colwidth', 100000)
pd.set_option('display.max_rows', None)

In [30]:
# Create a boolean mask for values starting with 'NM'
mask_NM = df_s['index'].str.startswith('NM')

# Create a boolean mask for values starting with 'MS'
mask_MS = df_s['index'].str.startswith('MS')

In [31]:
count_true_NM = mask_NM.sum()
count_true_NM

320

In [32]:
count_true = mask_MS.sum()
count_true

184

In [35]:
# Use this code to see whole speech in cluster 2
#df_s

### CLUSTER 3

In [54]:
df_3 = pd.read_csv("C:/Users/HP/Downloads/output.csv")

In [55]:
df_3 = df_3[df_3['cluster'] == 3]
df_3 = df_3.drop(['Date','Cleaned_Speech','Cleaned_Speech_string','cluster', 'Unnamed: 0'], axis =1 )
pd.set_option('display.max_colwidth', 100000)
pd.set_option('display.max_rows', None)
# Create a boolean mask for values starting with 'NM'
mask_NM = df_3['index'].str.startswith('NM')

# Create a boolean mask for values starting with 'MS'
mask_MS = df_3['index'].str.startswith('MS')

In [56]:
count_true_NM = mask_NM.sum()
count_true_NM

91

In [57]:
count_true = mask_MS.sum()
count_true

363

In [59]:
# Run this code to see all speeches for this cluster
# df_3

### CLUSTER 0

In [60]:
df_0 = pd.read_csv("C:/Users/HP/Downloads/output.csv")

In [61]:
df_0 = df_0[df_0['cluster'] == 0]
df_0 = df_0.drop(['Date','Cleaned_Speech','Cleaned_Speech_string','cluster', 'Unnamed: 0'], axis =1 )
pd.set_option('display.max_colwidth', 100000)
pd.set_option('display.max_rows', None)
# Create a boolean mask for values starting with 'NM'
mask_NM = df_0['index'].str.startswith('NM')

# Create a boolean mask for values starting with 'MS'
mask_MS = df_0['index'].str.startswith('MS')

In [62]:
count_true_NM = mask_NM.sum()
count_true_NM

137

In [63]:
count_true = mask_MS.sum()
count_true

288

In [1]:
# df_0
# Run this code to see all speeches

### CLUSTER 4

In [4]:
import pandas as pd
df_4 = pd.read_csv("C:/Users/HP/Downloads/output.csv")

In [5]:
df_4 = df_4[df_0['cluster'] == 4]
df_4 = df_4.drop(['Date','Cleaned_Speech','Cleaned_Speech_string','cluster', 'Unnamed: 0'], axis =1 )
pd.set_option('display.max_colwidth', 100000)
pd.set_option('display.max_rows', None)
# Create a boolean mask for values starting with 'NM'
mask_NM = df_4['index'].str.startswith('NM')

# Create a boolean mask for values starting with 'MS'
mask_MS = df_4['index'].str.startswith('MS')

In [6]:
count_true_NM = mask_NM.sum()
count_true_NM

453

In [7]:
count_true = mask_MS.sum()
count_true

132

In [10]:
# Run this code to see full text of speeches
#df_4