In [1]:
#Load necessary Libraries
import pandas as pd
import numpy as np
import pickle

In [2]:
# Load dataset
df_data = pickle.load(open("df_dim_date_topic.pickle", 'rb'))

In [3]:
df_data

,x,y,Date,cluster,tenure,Topics
0,8.956005,-0.008676,2017,C3,NM_Year_1,The central theme the author is exploring is t...
1,10.159348,0.235317,2017,C0,NM_Year_1,The author is exploring how science and techno...
2,11.064923,0.590251,2017,C0,NM_Year_1,The central theme of the author is exploring i...
3,8.596931,1.892679,2017,C3,NM_Year_1,The central theme of the author is exploring i...
4,11.338701,0.576731,2017,C0,NM_Year_1,The author is exploring the idea that saints h...
...,...,...,...,...,...,...
1177,10.564022,0.840843,2023,C3,NM_Year_7,A. The author is exploring the theme of enviro...
1178,10.881078,1.084923,2023,C3,NM_Year_7,The central theme of the author is exploring i...
1179,10.161785,0.746135,2023,C3,NM_Year_7,The central theme of the text is the Vande Bha...
1180,10.931475,1.289920,2023,C3,NM_Year_7,The author is exploring the idea that the heal...
1181,10.764289,1.108396,2023,C3,NM_Year_7,The author is exploring the impact of behaviou...